@import url('https://fonts.googleapis.com/css2?family=Cute+Font&family=Gamja+Flower&family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@100;300;400;500;700&family=Poor+Story&family=Stylish&display=swap');


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.box{
  display:flex;
}

.profile{
  border:1px solid black;
  margin-top: 2rem;
  margin-left: 0.5rem;
  width: 20rem;
  height:400px;
  font-size: 1.3rem;
  /*background-color: bisque;*/
  text-align:center;
}

.profile-pic{
  margin-left:0.2rem;
  padding-top: 0.5rem;
}

.profile-contents{
  font-size:0.8rem;
}

.project{
  border:1px solid black;
  width: 45rem;
  height:800px;
  margin-top: 2rem;
  margin-left: 1rem;
  /*background-color: bisque;*/
  font-size: 18px;
  padding-left:3px;
}

.bulletin{
  border:1px solid black;
  width: 45rem;
  height:800px;
  margin-top: 2rem;
  margin-left: 1rem;
  /*background-color: bisque;*/
  font-size: 18px;
  padding-left:3px;
}

.banner{
  border:1px solid black;
  width: 18rem;
  height:500px;
  /*background-color: bisque;*/
  margin-top: 2rem;
  margin-left: 1rem;

}

.projectBtn{
  margin-top: 1rem;
  margin-left:14rem;
  width: 280px;
  height: 40px;
  border-radius:10px;
  border:1px solid;
  cursor:pointer;
  font-size:22px;
  background-color: white;
  color:blue;
  font-family: 'Poor Story';

}

.projectBtn:hover{
  color:white;
  background-color:#2980b9;
}

.bulletinBtn{
  margin-top: 1rem;
  margin-left:1.5rem;
  width:300px;
  height:40px;
  border-radius:10px;
  border:1px solid;
  cursor:pointer;
  font-size:22px;
  background-color: white;
  color:blue;
  font-family: 'Poor Story';
}

.bulletinBtn:hover{
  color:white;
  background-color:#2980b9;
}

.profile-contents-fb{
  width:30px;
}

.profile-contents-github{
  width:30px;
  margin-left:10px;
}

.profile-contents-instagram{
  width:30px;
  margin-left:10px;
}

.profile-contents-tistory{
  width:30px;
  margin-left:10px;
}


.banner-box-one{
  border:1px solid black;
  width: 14rem;
  background-color:white;
  height:60px;
  margin-left:30px;
  margin-top:20px;
}

.banner-box-two{
  border:1px solid black;
  width: 14rem;
  background-color:white;
  height:60px;
  margin-left:30px;
  margin-top:20px;
}

.banner-box-three{
  border:1px solid black;
  width: 14rem;
  background-color:white;
  height:60px;
  margin-left:30px;
  margin-top:20px;
}

.banner-box-four{
  border:1px solid black;
  width: 14rem;
  background-color:white;
  height:60px;
  margin-left:30px;
  margin-top:20px;
}

.banner-box-five{
  border:1px solid black;
  width: 14rem;
  background-color:white;
  height:60px;
  margin-left:30px;
  margin-top:20px;
}

.banner-box-one-awsbanner{
  width:60%;
  height:100%;
  margin-left:40px;
}

.banner-box-two-fptbanner{
  width:60%;
  height:100%;
  margin-left:40px;
}

.banner-box-three-bitbanner{
  width:60%;
  height:100%;
  margin-left:40px;
}

.banner-box-four-mcsabanner{
  width:60%;
  height:100%;
  margin-left:40px;
}

.banner-box-five-cukbanner{
  width:60%;
  height:100%;
  margin-left:40px;
}

.bulletin-write{
  width: 80px;
  height: 40px;
  border-radius:10px;
  border:1px solid;
  cursor:pointer;
  font-size:22px;
  background-color: white;
  color:blue;
  font-family: 'Poor Story';
}
.bulletin-write:hover{
  color:white;
  background-color:#2980b9;
}

.box-form-bulletinform{
  border:1px solid black;
  width: 45rem;
  height:800px;
  margin-top: 2rem;
  margin-left: 1rem;
  /*background-color: bisque;*/
  font-size: 18px;
  padding-left:20px;

}

.box-form-bulletinform-name{
  margin-top:30px;
}

.box-form-bulletinform-name-rec{
  border: 1px solid;
  height:20px;
}

.box-form-bulletinform-password{
  margin-top:30px;
}

.box-form-bulletinform-password-rec{
  border: 1px solid;
  height:20px;
}


.box-form-bulletinform-content{
  margin-top:30px;
}
.box-form-bulletinform-content-rec{
  width:500px;
  height:300px;
  margin-top:30px;
  border: 1px solid;
}

.box-form-bullentinform-header{
  font-family: 'Poor Story';
  padding-top:20px;
  padding-left:20px;
  font-size: 25px;
}

.box-form-bulletinform-cancel{
  width: 80px;
  height: 40px;
  border-radius:10px;
  border:1px solid;
  cursor:pointer;
  font-size:22px;
  background-color: white;
  color:blue;
  font-family: 'Poor Story';
  margin-left:200px;
  margin-top:40px;
}

.box-form-bulletinform-cancel:hover{
  color:white;
  background-color:#2980b9;
}

.box-form-bulletinform-btn{
  width: 80px;
  height: 40px;
  border-radius:10px;
  border:1px solid;
  cursor:pointer;
  font-size:22px;
  background-color: white;
  color:blue;
  font-family: 'Poor Story';
  margin-left:80px;
}

.box-form-bulletinform-btn:hover{
  color:white;
  background-color:#2980b9;
}

