.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.box{
  display:flex;
}

.profile{
  border:1px;
  border-color:red;
  margin-top: 2rem;
  margin-left: 0.5rem;
  width: 20rem;
  height:400px;
  font-size: 1.3rem;
  background-color: bisque;
  text-align:center;
}

.profile-pic{
  margin-left:0.2rem;
  padding-top: 0.5rem;
}

.profile-contents{
  font-size:0.8rem;
}

.project{
  width: 45rem;
  height:600px;
  margin-top: 2rem;
  margin-left: 1rem;
  background-color: bisque;
}

.banner{
  width: 18rem;
  height:500px;
  background-color: bisque;
  margin-top: 2rem;
  margin-left: 1rem;
}

.projectBtn{
  margin-top: 1rem;
  margin-left:14rem;
  width: 280px;
  height: 40px;
}

.bulletinBtn{
  margin-top: 1rem;
  margin-left:1.5rem;
  width:300px;
  height:40px;
}

.profile-contents-fb{
  width:30px;
}

.profile-contents-github{
  width:30px;
  margin-left:10px;
}

.profile-contents-instagram{
  width:30px;
  margin-left:10px;
}

.profile-contents-tistory{
  width:30px;
  margin-left:10px;
}

.banner-box-one{
  width: 14rem;
  background-color:gainsboro;
  height:60px;
  margin-left:30px;
  margin-top:20px;
}

.banner-box-two{
  width: 14rem;
  background-color:gainsboro;
  height:60px;
  margin-left:30px;
  margin-top:20px;
}

.banner-box-three{
  width: 14rem;
  background-color:gainsboro;
  height:60px;
  margin-left:30px;
  margin-top:20px;
}

banner-box-one-awsbanner{
  width:100%;
  height:100%;
}
